# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/config/config.env

/frontend/node_modules

/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production


# misc
/frontend/.DS_Store
/frontend/.env
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
